<div>
    <h1>{{message}}</h1>
</div>

<form name="createMediaItem">
    <div class="form-group">
        <label for="selectMediaType">Select The Type of Media</label>
        <select class="form-control" id="selectMediaType" ng-model="newMediaItem.MediaTypeId" required>
            <option ng-repeat="type in types" value="{{type.MediaTypeId}}">{{type.MediaType}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="selectMediaCondition">Select The Media's Condition</label>
        <select class="form-control" id="selectMediaCondition" ng-model="newMediaItem.MediaConditionId" required>
            <option ng-repeat="condition in conditions" value="{{condition.MediaConditionId}}">{{condition.MediaCondition}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="title">Title of Media</label>
        <input class="form-control" id="title" type="text" placeholder="" ng-model="newMediaItem.Title" required>
    </div>
    <div class="form-group">
        <label for="datePurchased" class="control-label">Date Purchased</label>
        <input type="date" id="datePurchased" class="form-control" placeholder="0000/00/00" ng-model="newMediaItem.DatePurchased">
    </div>
    <label>Is this item lent out?</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="lentOutRadios" id="lentOutRadio1" value="option1" ng-model="newMediaItem.IsLentOut" checked>
        <label class="form-check-label" for="lentOutRadio1">
            No
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="lentOutRadios" id="lentOutRadio2" value="option2" ng-model="newMediaItem.IsLentOut">
        <label class="form-check-label" for="lentOutRadio2">
            Yes
        </label>
    </div>
    <div class="form-group mt-3">
        <label for="itemNotes">Item Notes</label>
        <textarea class="form-control" id="itemNotes" rows="3" ng-model="createMediaItem.notes"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submitNewMediaItem(newMediaItem)">Submit</button>
</form>