

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <h4>Enter the Album Title or Artist</h4>
                    <input ng-model="itunesMedia.collectionName" type="text" class="form-control col-md-12" placeholder="Example: 'Abbey Road' or 'Backstreet Boys'">
                </div>
            </div>
            <button ng-click="getMusicFromItunes(itunesMedia)" class="btn btn-primary" type="submit">Search</button>
        </form>
        <div class="row">
            <div ng-repeat="music in itunesMedia.results" class="col-md-4 mt-2">
                <p><img ng-src="{{music.artworkUrl100}}" class="img-fluid" alt="Music Album Cover Art" /></p>
                <strong>{{music.collectionName}}</strong>
                <div>
                    <button class="btn btn-secondary mt-2" ng-click="selectMedia(music)">Select</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div>
            <p>Media type you chose: <b>{{mediaType.MediaType}}</b></p>
        </div>

        <form name="createMediaItem">
            <div class="form-group">
                <label for="artist">Artist</label>
                <input class="form-control" id="artist" type="text" placeholder="" ng-model="newMediaItem.Artist" required>
            </div>
            <div class="form-group">
                <label for="album">Album</label>
                <input class="form-control" id="album" type="text" placeholder="" ng-model="newMediaItem.Title" required>
            </div>
            <div class="form-group mt-3">
                <label for="selectMediaCondition">Select The Album's Condition</label>
                <select class="form-control" id="selectMediaCondition" ng-model="newMediaItem.MediaConditionId" required>
                    <option ng-repeat="condition in conditions" value="{{condition.Id}}">{{condition.MediaCondition}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="datePurchased" class="control-label">Date Purchased (if applicable)</label>
                <input type="date" id="datePurchased" class="form-control" placeholder="0000/00/00" ng-model="newMediaItem.DatePurchased">
            </div>
            <div class="form-group mt-3">
                <label for="itemNotes">Notes for Music Item</label>
                <textarea class="form-control" id="itemNotes" rows="3" ng-model="newMediaItem.Notes"></textarea>
            </div>

            <button type="button" class="btn btn-success" ng-click="submitNewMediaItem(newMediaItem)">Create Item</button>

        </form>
    </div>
</div>

