
<div class="row mt-3">
    <div class="col-md-6">
        
        <form class="form-inline">
            <h4>Enter the Movie Title</h4>
            <input ng-model="itunesMedia.trackName" type="text" class="form-control mb-2 mr-sm-2 col-md-8" id="inlineFormInputName2" placeholder="Example: 'Fight Club' or 'Dazed and Confused'">

            <button ng-click="getMovieFromItunes(itunesMedia)" type="submit" class="btn btn-primary mb-2">Search</button>
        </form>

        <div class="card-columns">
            <div ng-repeat="movie in itunesMedia.results" class="card mt-3">
                <a ng-click="selectMedia(movie)"><img ng-src="{{movie.artworkUrl100}}" class="card-img-top img-fluid" alt="Book Cover Art" /></a>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div>
            <p>Media type you chose: <b>{{mediaType.MediaType}}</b></p>
        </div>

        <form name="createMediaItem">
            <div class="form-group">
                <label for="title">Title of Movie</label>
                <input class="form-control" id="title" type="text" placeholder="" ng-model="newMediaItem.Title" required>
            </div>
            <div class="form-group mt-3">
                <label for="selectMediaCondition">Select The Movie's Condition</label>
                <select class="form-control" id="selectMediaCondition" ng-model="newMediaItem.MediaConditionId" required>
                    <option ng-repeat="condition in conditions" value="{{condition.Id}}">{{condition.MediaCondition}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="datePurchased" class="control-label">Date Purchased (if applicable)</label>
                <input type="date" id="datePurchased" class="form-control" placeholder="0000/00/00" ng-model="newMediaItem.DatePurchased">
            </div>
            <div class="form-group mt-3">
                <label for="itemNotes">Notes for Movie</label>
                <textarea class="form-control" id="itemNotes" rows="3" ng-model="newMediaItem.Notes"></textarea>
            </div>

            <button type="button" class="btn btn-success" ng-click="submitNewMediaItem(newMediaItem)">Create Item</button>

        </form>
    </div>
</div>

