<div>
    <h1>{{message}}</h1>
</div>

<div class="row">
    <div class="col-sm-12 mb-4">
        <div class="card">
            <div class="card-header lent-item-title text-center">
                {{itemDetails.Title}}
            </div>
            <div class="card-body">
                <strong>Type: </strong>{{itemDetails.MediaType}}<br />
                <strong>Condition: </strong>{{itemDetails.MediaCondition}}<br />
                <strong>Date added: </strong>{{itemDetails.DateAdded | amDateFormat:'dddd, MMMM Do YYYY'}}
                <!--<p class="mt-3">
        <button type="button" class="btn btn-outline-info btn-md btn-block" ng-click="viewMediaItemDetails(mediaItem.Id)">View Details</button>
        <button type="button" class="btn btn-outline-warning btn-md btn-block" ng-click="editMediaItem(mediaItem.Id)">Edit</button>
    </p>
    <p class="delete-item">
        <small><a ng-click="deleteMediaItem(mediaItem.Id)">Delete Item</a></small>
    </p>-->
            </div>
        </div>
    </div>
</div>