<div>
    <h1>{{message}}</h1>
</div>

<div class="row">
    <div ng-repeat="mediaItem in mediaItems" class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-header lent-item-title text-center">
                {{mediaItem.Title}}
            </div>
            <div class="card-body">
                <strong>Type: </strong>{{mediaItem.MediaType}}<br />
                <strong>Condition: </strong>{{mediaItem.MediaCondition}}<br />
                <strong>Date added: </strong>{{mediaItem.DateAdded | amDateFormat:'dddd, MMMM Do YYYY'}}
                <p class="mt-3">
                    <button type="button" class="btn btn-outline-info btn-md btn-block">View Details</button>
                </p>
                <p class="delete-item">
                    <small><a ng-click="deleteMediaItem(mediaItem.Id)">Delete Item</a></small>
                </p>
            </div>
        </div>
    </div>
</div>